<h1>Hello! </h1>

<p class="lead">Create a new product</p>

<input type="text" class="" id="email" placeholder="Email">
<input type="text" id="password" placeholder="Password">
<button type="button" class="save-prospect btn btn-default">Save</button>